/*Header Component*/
.header{
    width:100vw;
    height:100vh;
}

.header_social_titles{
    display:flex;
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    align-items: center;
    margin-left: 3.5rem;
    height:100%;
}

/*Navigation Component*/
.nav_bar{
    display:flex;
    padding: 1.5rem 2.5rem 0 2.5rem;
    justify-content: space-between;
    align-items: center;
    position:relative;
    z-index: 1;
}

.nav_initials{
    font-size:3rem;
    font-family:var(--alex-brush);
}

.nav_links{
    display:flex;
    flex-direction: row;
    align-items: center;
}

/*Link Component*/
.nav_link{
    cursor: pointer;
    font-size:14px;
    font-weight:500;
    margin:0 1rem;
}

.nav_link:hover,.nav_link:active, .nav_link:focus{
    color:var(--accent-color);
    font-size: 15px;
    animation: popout 0.2s ease-out;
}

@keyframes popout{
    0%{
        font-size: 14px;
    }
    25%{
        font-size: 14.25px;
    }
    50%{
        font-size: 14.5px;
    }
    75%{
        font-size: 14.75px;
    }
    100%{
        font-size:15px;
    }
}

.numbering_link{
    color: var(--accent-color);
    margin-right:0.75rem;
}

/*Color Picker Component*/
.color_picker{
    margin-left:1rem;
}

.color_picker:hover{
    cursor:pointer;
}

.chrome_picker{
    display:flex;
    flex-direction: column;
    position:absolute;
    right:2%;
    margin-top:1rem;
}

.color_list{
    list-style-type: none;
    display:flex;
    flex-direction: column;
    padding:1rem;
    background-color: var(--white);
}

.color_item{
    margin-top:0.5rem;
    font-size: 14px;
}

.color_item:hover{
    cursor:pointer;
    color:var(--accent-color);
    animation: popout 0.2s ease-out;
    font-size: 15px;
}

.active_color_item{
    color:var(--accent-color);
    font-size: 15px;
    margin-top:0.5rem;
}

/*Social Icons Component*/
.header_social{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-end;
    margin-bottom:0.5rem;
}

.social_links{
    display:flex;
    flex-direction:column;
    align-self: flex-end;
}

.line{
    border-left:2px solid white;
    height:7.5rem;
    margin-top:0.75rem;
}

/*Header Titles Component*/
.header_titles{
    margin-left:5rem;
}

.header_title{
    font-size: 4rem;
    letter-spacing:2px;
    color: var(--heading-color);
}

.header_subtitle{
    font-size:4rem;
    font-weight: 500;
    margin-bottom:1.5rem;
    letter-spacing:2px;
}

.header_about{
    width:55%;
    line-height: 1.5;
}

.hamburger_menu{
    display:none;
}

@media (max-width:576px){
    /*Header Component*/
    .header_social_titles{
        flex-direction: column-reverse;
        justify-content: center;
        margin-left: 0;
        margin-right:0.5rem;
    }
    /*Navigation Component*/
    .nav_links{
        display:none;
    }

    .hamburger_menu{
        display:block;
        cursor:pointer;
    }

    .close_menu{
        position:absolute;
        top:0;
        right:0;
        padding: 1.5rem 1.5rem 0 0;
        cursor:pointer;
    }

    .mobile_nav_links{
        position:absolute;
        top:0;
        left:0;
        background-color: var(--theme-color);
        display:flex;
        flex-direction: column;
        width:100vw;
        height:100vh;
        justify-content: center;
        align-items: center;
    }
    /*Link Compononent*/
    .nav_link{
        margin:0.5rem 0;
    }
    /*Color Dropdown Component*/
    .color_picker{
        margin:0.5rem 0;
    }

    .chrome_picker{
        justify-content: center;
        width:100%;
        flex-direction:row;
        right:0;
    }
    /*Header Tiles Component*/
    .header_titles{
        margin-left: 2rem;
    }

    .header_title, .header_subtitle{
        font-size:3rem;
    }

    .header_about{
        width:90%;
    }
    /*Social Icons Component*/
    .header_social{
        align-self: center;
        margin-top:3rem;
        margin-bottom: 0;
    }

    .social_links{
        flex-direction: row;
    }

    .line{
        display:none;
    }
}

@media (min-width:576px) and (max-width:768px){
    /*Header Component*/
    .header_social_titles{
        flex-direction: column-reverse;
        justify-content: center;
        margin-left: 0;
    }
    /*Navigation Component*/
    .nav_links{
        display:none;
    }

    .hamburger_menu{
        display:block;
        cursor:pointer;
    }

    .close_menu{
        position:absolute;
        top:0;
        right:0;
        padding: 1.5rem 1.5rem 0 0;
        cursor:pointer;
    }

    .mobile_nav_links{
        position:absolute;
        top:0;
        left:0;
        background-color: var(--theme-color);
        display:flex;
        flex-direction: column;
        width:100vw;
        height:100vh;
        justify-content: center;
        align-items: center;
    }
    /*Link Component*/
    .nav_link{
        margin:0.5rem 0;
    }
    /*Color Dropdown Component*/
    .color_picker{
        margin:0.5rem 0;
    }
    
    .chrome_picker{
        justify-content: center;
        width:100%;
        flex-direction:row;
        right:0%;
    }
    /*Header Titles Component*/
    .header_titles{
        margin-left: 4.5rem;
    }

    .header_title, .header_subtitle{
        font-size:3rem;
    }

    .header_about{
        width:80%;
    }
    /*Social Icons Component*/
    .header_social{
        align-self: center;
        margin-top:3rem;
        margin-bottom: 0;
    }

    .social_links{
        flex-direction: row;
    }

    .line{
        display:none;
    }

}

@media (min-width:768px) and (max-width:992px){
    /*Header Titles Component*/
    .header_about{
        width:80%;
    }
}