.header{
    width:100vw;
    height:100vh;
}

.header_titles{
    margin-left:5rem;
}

.header_titles > .title{
    font-size:4rem;
    letter-spacing:1px;
    color: var(--heading-color);
}

.header_titles > .subtitle{
    font-size:2rem;
    font-weight: 500;
    margin-bottom:1.5rem;
}

.header_titles > .about{
    width:50%;
    line-height: 1.5;
}

.social_links{
    display:flex;
    flex-direction:column;
    align-self: flex-end;
}

.header_social{
    display:flex;
    align-items: center;
    margin-left: 3.5rem;
    position: absolute;
    top:50%;
    transform:translateY(-50%);
}