.header_link{
    cursor: pointer;
    font-size:17px;
    font-weight:600;
    margin:1rem 0.5rem;
    display:inline-block;
}

.header_link:hover{
   
}

.home_link{

}

.skill_link{

}

.experience_link{

}

.project_link{

  
}