.header_link{
    cursor: pointer;
    font-size:15px;
    font-weight:600;
    margin:0.5rem;
    display:inline-block;
}

.number_link{
    color: var(--accent-color);
    margin-right:0.75rem;
}

.header_link:hover{
    color:var(--accent-color);
}

.header_links{
    display:flex;
    margin-top: 4rem;
    justify-content: center;
}

.header_link:hover{
   
}

.home_link{

}

.skill_link{

}

.experience_link{

}

.project_link{

  
}