:root{
  --theme-color:#0e1227;
  --text-color:#FFFFFF;
  --inter-font: "Inter";
}

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family: var(--inter-font),"Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  background-color: var(--theme-color);
  color:var(--text-color);
}

h1,h2,h3,h4,h5,h6{
  margin: 0.5rem 0;
}

.icon{
  margin: 0.75rem;
  opacity:0.6;
}

.icon:hover{
  cursor: pointer;
  opacity: 0.8;
}